.shipment-details-container {
  display: grid; /* Optional, depending on child elements */
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.shipment-details-title {
  font-size: 18px;
  color: #40485e;
}
.shipment-main-container {
  width: 65%;
}
