.shipment-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto; /* Adjust this based on your layout needs */
  gap: 10px; /* Space between grid items */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 4%;
  padding-left: 4%; /* Consider adjusting or removing based on layout needs */
}

.shipment-row-header {
  background-color: #fafafa;
  color: #8f9bb2;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto; /* Adjust this based on your layout needs */
  gap: 10px; /* Space between grid items */
  align-items: center;
  padding-right: 4%; /* Consider adjusting or removing based on layout needs */
  padding-left: 4%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid gainsboro;
  font-weight: 700;
}
.shipment-row-header p {
  font-size: 14px;
}
.shipment-row p {
  font-size: 14px;
}
.shipment-details-container {
  display: grid; /* Optional, depending on child elements */
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.shipment-details-title {
  font-size: 18px;
  color: #40485e;
}
.shipment-main-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
