.support-card-container {
  width: auto;
  background-color: white;
  padding: 8px;
  padding-right: 20px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
}
.support-card-title {
  font-size: 18px;
  color: #40485e;
}
.support-card-button {
  background-color: red;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.support-card-details {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.support-card-button:hover {
  outline: none;
  background-color: brown;
}
