.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown:hover .dropdown-menu {
  /* background-color: #0069d9; */
  display: block;
}

.dropdown-menu {
  position: absolute;
  height: 150px;
  width: 350px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 20px;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

/* RTL specific styles */
.rtl .dropdown-menu {
  left: 0;
  right: auto;
}

.rtl .dropdown-menu li {
  text-align: right;
}
